# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
*.suo
*.user
*.userprefs
*.pidb
*.bak
*.orig
Help/*
release/*
/_ReSharper.*
*.pidb
*.userprefs
packages
packages/*
!packages/repositories.config

README.html
